DATABASE_URL=
NEON_AUTH_BASE_URL=https://ep-proud-hall-ac88vobb.neonauth.sa-east-1.aws.neon.tech/neondb/auth
NEON_AUTH_COOKIE_SECRET=
NEXT_PUBLIC_STUN_URL=stun:stun.l.google.com:19302
NEXT_PUBLIC_TURN_URL=
NEXT_PUBLIC_TURN_USERNAME=
NEXT_PUBLIC_TURN_CREDENTIAL=
